<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkr.peoplehomedoc">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signdoc.SigningDocListActivity" />
        <activity android:name=".ui.signdoc.SigningUserActivity" />
        <activity android:name=".ui.appointmentDoctor.AppointmentMainActivity" />
        <activity android:name=".ui.appointmentDoctor.AppointmentInfoActivity" />
        <activity android:name=".ui.servicePlan.ServicePlanListActivity" />
        <activity android:name=".ui.servicePlan.AppointmentListActivity" />
        <activity android:name=".ui.servicePlan.AppointmentSucActivity" />
        <activity android:name=".ui.docAdvice.DocAdviceListActivity" />
        <activity android:name=".ui.docAdvice.DocAdviceDetailActivity" />
        <activity android:name=".ui.mySigning.MySigningListActivity" />
        <activity android:name=".ui.mySigning.MySigningDetailActivity"></activity>
    </application>

</manifest>